@CHARSET "UTF-8";

0
.one {
	list-style-type: upper-alpha;
	list-style-position: 20%, 50%;
}

#music {
	width: 50%;
	height: 100px;
	font-family: "黑体";
	font-size: 20px;
	border-collapse: collapse; `
	border-bottom-color: blue;
	border: 1px #400080 solid;
}

#music th {
	border: 1px #400080 solid;
	border-bottom-color: red;
	background-color: blue
}

#music  td {
	border: 1px #400040 solid;
}

#music tfoot {
	border: 1px #400040 solid;
	column-span: 2;
	as
}

#navigation {
	width: 200px;
	font-family: 黑体;
}

#navigation  ul {
	list-style-type: none;
	<!--
	没有下划线--
	>
	/*border: 1px #400040 solid;*/
	padding
	:
	0px;
}

#navigation ul li {
	border-bottom: 1px #004040 solid;
	<!--
	下面有线--
	>
}

#navigation ul li a {
	text-decoration: none;
	display: block; <!-- 行级标签转换成块级标签-- >;
	width: 500px;
	height: 23px;
	border-left: 12px solid green;
}

#navigation ul li a:link, #navigation ul li a:visited {
	background-color: blue;
	color: maroon;
}

#navigation ul li a:hover {
	background-color: activecaption;
	color: navy;
}

#navigation ul li a:active {
	color: red
}